$color-text-title: rgb(241, 241, 241);
$color-text-l: rgba(255, 255, 255, 0.658);
$color-text-highlight: aqua;
$color-text-name: rgba(253, 253, 253, 0.76);
$color-text-2: rgba(255, 255, 255, 0.884);

$color-background: rgb(79, 76, 255);
// $color-background: rgb(79, 76, 255);

$font-size-small: 16px;
$font-size-small-x: 18px;
$font-size-medium: 20px;
$font-size-medium-x: 26px;