$color-text-title: rgb(241, 241, 241);
$color-text-l: rgba(255, 255, 255, 0.527);
$color-text-highlight: aqua;
$color-text-name: rgba(255, 255, 255, 0.884);
$color-text-2: rgba(255, 255, 255, 0.884);



$color-background: rgb(79, 76, 255);